<div>
  <div class="md:container relative">
    <img
      src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/apple-tv-plus-mac-argylle-202404_FMT_WHH?wid=1850&amp;hei=1026&amp;fmt=jpeg&amp;qlt=90&amp;.v=1711378621321"
      alt=""
      class="md:hidden object-cover mx-auto md:mx-0 h-[500px]"
    />
    <img
      src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/apple-tv-plus-mac-argylle-202404?wid=2140&hei=752&fmt=jpeg&qlt=90&.v=1711998621719"
      alt="Argylle Promo Image"
      class="hidden md:block object-cover"
    />
    <div
      class="absolute top-0 md:inset-y-0 md:w-1/3 flex items-center justify-center"
    >
      <div class="text-center md:text-left p-6">
        <img
          src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/apple-tv-plus-logo-standard-202404_FMT_WHH?wid=92&hei=36&fmt=png-alpha&.v=1711378619569"
          alt="Apple TV+ Logo"
          class="mx-auto md:mx-0 w-24 h-10 mb-4"
        />
        <p class="text-lg md:text-4xl text-white mb-4">
          Get 3&nbsp;months of Apple&nbsp;TV+ free when you buy a&nbsp;Mac.<span
            class="sr-only"
            >&nbsp;footnote&nbsp;</span
          >***
        </p>
        <ul class="flex justify-center md:justify-start space-x-4">
          <li>
            <a
              href="http://tv.apple.com?itscg=10000&itsct=tvwebmac_buytile_tifwebavl200729"
              class="text-blue-500 hover:underline"
            >
              Try it free<span class="sr-only">&nbsp;footnote&nbsp;</span>^
            </a>
          </li>
          <li>
            <a
              href="https://offers.appleservices.apple/en-my/hardware"
              class="text-blue-500 hover:underline"
            >
              Learn&nbsp;more<span class="sr-only"
                >Learn more about Apple&nbsp;TV+</span
              >
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
