<svg
  class="inline-block text-blue-600"
  id="Interface_Add_Circle_16"
  width="18"
  height="18"
  viewBox="0 0 18 18"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
>
  <rect width="16" height="16" stroke="none" fill="#000000" opacity="0" />

  <g transform="matrix(0.86 0 0 0.86 8 8)">
    <g>
      <g transform="matrix(1 0 0 1 0 0)">
        <circle
          style="
            stroke: currentColor;
            stroke-width: 1;
            stroke-dasharray: none;
            stroke-linecap: round;
            stroke-dashoffset: 0;
            stroke-linejoin: round;
            stroke-miterlimit: 4;
            fill: none;
            fill-rule: nonzero;
            opacity: 1;
          "
          cx="0"
          cy="0"
          r="6.5"
        />
      </g>
      <g transform="matrix(1 0 0 1 0 0)">
        <line
          style="
            stroke: currentColor;
            stroke-width: 1;
            stroke-dasharray: none;
            stroke-linecap: round;
            stroke-dashoffset: 0;
            stroke-linejoin: round;
            stroke-miterlimit: 4;
            fill: currentColor;
            fill-rule: nonzero;
            opacity: 1;
          "
          x1="0"
          y1="-3"
          x2="0"
          y2="3"
        />
      </g>
      <g transform="matrix(1 0 0 1 0 0)">
        <line
          style="
            stroke: currentColor;
            stroke-width: 1;
            stroke-dasharray: none;
            stroke-linecap: round;
            stroke-dashoffset: 0;
            stroke-linejoin: round;
            stroke-miterlimit: 4;
            fill: currentColor;
            fill-rule: nonzero;
            opacity: 1;
          "
          x1="-3"
          y1="0"
          x2="3"
          y2="0"
        />
      </g>
    </g>
  </g>
</svg>
